body {
    background-color: #C5A6DD;
    margin: 0;
    padding: 0;
}
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #50514f;
    color: #FFFAEB;
    gap: 50px;
    padding: 20px 0;
    flex-wrap: wrap;
}


.section {
    line-height: 1.4;
}
.section h2 {
    color: #D90368;
}
.section p {
    margin: 2px 0;
}
.CopyRight {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 0.9em;
    color: #FFFAEBCC;
}
