body{
    background-color: blue;
    color: red;
    margin: 0px;
}

.main_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sub_section{
    color: white;
    text-align: center;
}

.special_section{
    grid-column: 1 / 3;
    color: white;
    text-align: center;
}